<h1>Edit a restaurant</h1>

<%= form_for(@restaurant) do |f| %>
    <% if @restaurant.errors.any? %>
      <!-- [...] -->
      <div id="error_explanation">
        <ul>
        <% @restaurant.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.label :name, "Edit name"  %><br>
    <%= f.text_field :name %>
    <%= f.label :address, "Edit status" %><br>
    <%= f.text_field :address %>
    <%= f.label :category, "Change category" %><br>
    <%= f.text_field :category %>
    <%= f.label :stars, "Edit status" %><br>
    <%= f.number_field :stars %>

    <%= f.submit %>
<% end %>
