<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3"><h1>Submit a review</h1>
      <%= simple_form_for(@review) do |f| %>
          <% if @review.errors.any? %>
            <!-- [...] -->
            <div id="error_explanation">
              <ul>
              <% @review.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <%= f.input :content, placeholder: "Review name"  %>
          <%= f.input :rating, placeholder: "Address" %>

        <%= f.submit "Submit", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

